.cell{
  width: 3ch;
  height: 3ch; /* ch units represent the width of the '0' character */
  padding: 0; /* Minimal padding */
  border: 1px solid #ccc; /* Example border */
  text-align: center; /* Center the text/character */
  font-size: 16px; /* Adjust based on your needs */
}

.cell:focus {
  outline: none; /* Remove the default focus style */
  cursor: none;
  background-color: #FFD902;

  border-radius: 0em;
}

/* #FFD902 */

.board{
  border-collapse: collapse;  
  margin: auto;
  padding: 0em;
  border: 0px;
}

.board-row{
  border: 1px solid black; /* Adds a solid border to each cell */
  padding: 0px;
}

.board-item{
  border: 1px solid black;
  padding: 0px;
}